@import './modules/_nav';

$backgroundColor:#eee;
$fontsize:2em;

body {
  background-color:$backgroundColor;
  font-size:$fontsize;
 
}

.autoprefixer-test {
  user-select: none;
}

img {
  border-radius:50%;
  transition: transform 4s ease-in-out;
  animation:myAnimation 2s;
}



